<h2 class="center">Logs Übersicht</h2>
<div class="center">
  <a class="button" href="<%=`/users/${user._id}/logs/new` %>">Neuer Eintrag</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Stimmung</th>
      <th>Bearbeiten</th>
      <th>Löschen</th>
    </tr>
  </thead>
  <tbody>
    <% user.logs.forEach(log => { %>
    <tr>
      <td>
        <a href="<%=`/logs/${log._id}`%>">
          <%= log.referenceDate %>
        </a>
      </td>
      <td>
        <%= log.factorOfWellbeing %>
      </td>
      <td>
        <a href="<%=`/logs/${log._id}/edit`%>">
          Bearbeiten
        </a>
      </td>
      <td>
        <a href="<%=`/logs/${log._id}?_method=DELETE` %>" onclick="return confirm('Bist Du dir sicher, dass Du den Eintrag löschen willst?')" a>
          Löschen</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
